* {
	margin:0px;
	padding:0px;
}
body{
	background:url(../_images/background.jpg) repeat-x #F6F6F6;		
	color:#666;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
h2 {
color:#254fa6;
font-size:20px;
line-height:18px;
letter-spacing:-.2px;
}
h3, h4 {
color:#454545;
font-size:16px;
font-style:italic;
line-height:15px;
padding-bottom:5px;
}
td {
vertical-align:top;
}
.star_required {
color:#FF0000;
font-size:18px;
}
a:link, a:visited {
color:#254fa6;
}
a:hover {
color:#19ae36;
}
#cntmap{
	float:left;
	width:370px;
	height:440px;
	min-height:440px;
}
#masterframe {
	margin:0px auto;
	padding:0px;
	width:770px;
	position:relative;
	z-index:0;
}
#header {
	background:url(../_images/header_bk.gif) no-repeat;
	height:57px;
	width:770px;
}
	#search {
		float:right;
		height:20px;
		margin-right:15px;
		padding:7px 30px 13px 30px;
		width:100px;
		
		background-repeat: no-repeat;
	}
	#search .txt{
	}
	#search .img{
		position:relative;
		top:3px;
	}
	#searchtxt {
		height:14px;
		margin-right:2px;
	}
#content {
	background:#F6F6F6;
	width:760px;
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 5px;
}
.staff {
padding:0px 0px 0px 35px;
width:240px;
vertical-align:top;
}
#content h4{
	color:#333;
	font-size:13px;
	font-weight:bold;
	margin:0px 0px 2px 0px;
	padding:0px 0px 5px 0px;
}
#content p{
	margin:0px 0px 5px 0px;
}
/* -------------------------------------------- */
/* ----------------- MAIN MENU ----------------- */
/* -------------------------------------------- */
#menu {
	font-size:14px;
	height:32px;
	margin:0px;
	padding:0px;
	text-align:center;
	width:770px;
}
	#menu ul {
		list-style:none;
		margin-top:4px;
		padding-top:9px;
		padding-bottom:8px;
	}
	#menu li{
		display:inline;
	}
	#menu li a:link, #menu li a:visited {
		color:#FFFFFF;
		font-size:13px;
		font-weight:bold;
		margin:0px;
		text-decoration:none;
		padding-top: 7px;
		padding-right: 13px;
		padding-bottom: 0px;
		padding-left: 13px;
	}
	#menu li a:hover {
		background:url(../_images/nav_o.gif) #0a7d15 repeat-x;
		border-left:1px solid #2bc849;
		border-right:1px solid #2bc849;
		padding:7px 12px 7px 12px;
	}
	.navselect {
		background:url(../_images/nav_o.gif) #0a7d15 repeat-x;
		border-left:1px solid #2bc849;
		border-right:1px solid #2bc849;
		padding:7px 12px 7px 12px;
		margin:-7px 0px 0px 0px;
		display:inline;
		color:#FFFFFF;
		font-weight:bold;	
		font-size:13px;
	}
/* -------------------------------------------- */
/* ------------------ FOOTER ------------------ */
/* -------------------------------------------- */
#btm {
	background:url(../_images/content_btm.jpg) bottom repeat-x #F6F6F6;
	width:750px;
	padding:5px;
	}
#footer {
	background:url(../_images/btm.jpg) repeat-x #F6F6F6; 
	color:#CCC;
	font-size:11px;
	height:35px;
	padding:15px;
	margin:0 auto;
	text-align:center;
	width:730px;
	border-top:1px dotted #CCC;
	clear:both;
}
	#footer a:link, #footer a:visited {
	color:#999999;
	text-decoration:none;
	}
	#footer a:hover {
	color:#19ae35;
	}
/* -------------------------------------------- */
/* ----------------- HOME PAGE ---------------- */
/* -------------------------------------------- */
#framehome {
	background:url(../_images/bghome.jpg) top center repeat-x;
	margin:0;
	padding:0;
}
	#htop {
	background:url(../_images/top.jpg) #F6F6F6;
	height:225px;
	margin:0px 0px 5px 0px;
	width:760px;
	}
	.hblob {
	border-top:1px dotted #CCC;
	float:right;
	margin:1px 1px 10px 0px;
	padding:0;
	width:189px;
	}
	.hblob img {
	border:none;
	}
	.hblob a:link, 	.hblob a:visited  {
	border:none;
	}
	.hblob a:hover  {
	background:#F6F6F6;
	}
	#hnews {
	float:left;
	padding:5px;
	width:254px;
	min-height:200px;
	background:url(../_images/midbtm.gif) bottom repeat-x;
	}
		#hnews ul {
		margin:0;
		padding:0;
		}
		#hnews li {
		list-style:none;
		clear:both;
		}
		#hnews img {
		border:none;
		}
		#hnews li a:link, #hnews li a:visited {
		border-top:1px dotted #CCC;
		display:block;		
		padding:8px;
		text-decoration:none;
		color:#666;
		}
		#hnews li a:hover {
		background:#d5d5d5;
		color:#000;
		}
		#hnews a:link, #hnews a:visited {
		border-top:1px dotted #CCC;
		display:block;		
		padding:6px;
		text-decoration:none;
		color:#666;
		}
		#hnews a:hover {
		background:#E4E4E4;
		color:#3c76b7;
		}
		.date {
		float:left;
		font-weight:bold;
		width:50px;
		}
		.odd {
		background:#ececec;
		}
		.even {
		background:#F6F6F6;
		}

	.hpod {
	background:url(../_images/midbtm.gif) bottom repeat-x;
	border-left:1px dotted #CCC;
	float:right;
	margin:0px 0px 1px 0px;
	min-height:200px;

	padding:5px 10px 5px 8px;
	width:229px;
	}
	.hpod img {
	border:3px solid #F6F6F6;
	margin:0px 0px 2px 0px;
	float:left;
	}
	.hpod img a:link, .hpod img a:visited {
	border:none;
	float:left;
	padding:0;
	margin:0;
	}
	.himg {
	border:4px solid #F6F6F6;
	float:right;
	margin:5px;
	}

/* -------------------------------------------- */
/* ------------- SECONDARY PAGES -------------- */
/* -------------------------------------------- */
#submenu {
	background:#0a7d15;
	border-bottom:1px solid #FFF;
	position:relative;
}
#subcontent {
background:url(../_images/subpageback.jpg) repeat-y;
vertical-align:top;
min-height:300px;
}
#submid{	
width:780px;
margin:0 auto;
height:26px;
margin-left: auto;
margin-right: auto;
text-align: center;
}
#submid ul {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	margin: 0;
	padding: 0;
	list-style:none;	
}
#submid li {
	display: inline;
	background:#0a7d15;
	text-align: center;
	padding: 0;
	margin-right: 4px;	
	float: left;
}
#submid a {
	color: #FFFFFF;
	background:#0a7d15;
	float: left;
	margin:	0;
	padding-left:7px;
	text-decoration: none;
}
#submid a span {
	background:#0a7d15;
	display: block;
	padding:7px 13px 4px 5px;
}
#submid a span {
	float: none;
}

#submid a:hover {
	color: #0a7d15;
	background: url(../_images/submenuleft.gif) no-repeat left top;
	float: left;
	margin:	0;
	padding-left:7px;
	text-decoration: none;
}
#submid a:hover span {
	background: url(../_images/submenuright.gif) no-repeat right top;
	display: block;
	padding:7px 13px 4px 5px;
}
#submid a:hover span {
	float: none;
}

#subtop {
background:#254fa6;
height:140px;
margin:0 auto;
width:760px;
}	
	#subtop img {
	float:right;
	}
	#subtopleft {
	background:#254fa6;
	height:120px;
	width:198px;
	padding-left:17px;
	padding-top:15px;
	float:none;
	height:125px;
	}
	#subtopleft h2 {
	font-size:24px;
	font-weight:normal;
	color:#FFFFFF;
	margin:0;
	padding:0;
	}
#leftmenu {
	float:left;
	width:220px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 0px;
}
#leftmenu ul {
display:block;
margin:0;
padding:0;
}
#leftmenu li {
list-style:none;
}
#fullcontent {
width:750px;
margin:0 auto;
padding:5px;
}
	#fullcontent em {
	padding:-10px 0px 10px 0px;
	margin:-10px 0px 10px 0px;
	}
	#fullcontent h4 {
	padding:10px 0px 0px 0px;
	margin:0px;
	}	
	#leftmenu a:link, #leftmenu a:visited {
	display:block; 
	border-top:1px solid #EEE;
	border-bottom:1px solid #CCC;
	color:#333333;
	padding:6px 10px 6px 10px;
	text-decoration:none;
	}
	#leftmenu a:hover {
	background:#DDD;
	}
	#leftmenu li .leftselect {
	display:block; 
	background:#19ae35;
	border-top:1px solid #EEE;
	border-bottom:1px solid #CCC;
	color:#F6F6F6;
	padding:6px 10px 6px 10px;
	text-decoration:none;
	font-weight: bold;
	}
#rightcontent {
	float:right;
	width:510px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}
#rightcontent ul {
margin-left:40px;
list-style-image:url(../_images/listitem.gif);
}
#rightcontent li {
list-style-image:url(../_images/listitem.gif);
}
#rightcontent img {
float:right;
border:5px solid #F6F6F6;
margin:5px 0px 5px 5px;
}
#rightcontent img a:link, #rightcontent img a:visited, #rightcontent img a:hover, {
float:left;
border:none;
margin:0;
padding:0;
}
#rightcontentmenu{
background:#0a7d15;
margin-left: auto;
margin-right: auto;
margin-bottom:10px;
text-align: center;
height:25px;
}
#rightcontentmenu ul {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	margin-left:10px;
	padding: 0;
	list-style:none;	
}
#rightcontentmenu li {
	display: inline;
	background:#0a7d15;
	text-align: center;
	padding: 0;
	margin-right: 4px;	
	float: left;
}
#rightcontentmenu a {
	color: #FFFFFF;
	background:#0a7d15;
	float: left;
	margin:	0;
	padding-left:7px;
	text-decoration: none;
}
#rightcontentmenu a span {
	background:#0a7d15;
	display: block;
	padding:7px 13px 4px 5px;
}
#rightcontentmenu a span {
	float: none;
}

#rightcontentmenu a:hover {
	color: #0a7d15;
	background: url(../_images/submenuleft.gif) no-repeat left top;
	float: left;
	margin:	0;
	padding-left:7px;
	text-decoration: none;
}
#rightcontentmenu a:hover span {
	background: url(../_images/submenuright.gif) no-repeat right top;
	display: block;
	padding:7px 13px 4px 5px;
}
#rightcontentmenu a:hover span {
	float: none;
}
.testimonial {
background:url(../_images/midbtm.gif) bottom repeat-x;
border-bottom:1px dotted #CCC;
width:490px;
margin:0;
padding:10px;
font-style:italic;
}
hr {
border-top:1px dotted #CCC;
border-bottom:5px solid #F6F6F6;
border-left:none;
border-right:none;
}
