#wrapper {
	width: 765px;
	padding-left:5px;
	
	margin-right: auto;
	margin-left: auto;
	background-color:#FFF;
	height: 1025px;
}
#wrapper #contact_info {
	font-family: "Arial Black", Gadget, sans-serif;
	float: left;
	margin-left: 290px;
	color: #036;
}
#wrapper #line {
	background-repeat: repeat-x;
	float: left;
	width: 760px;
	background-image:url(../images/line.gif);
	height: 26px;
}
#wrapper #main_image {
	background-image: url(../images/main_image.jpg);
	float: left;
	height: 193px;
	width: 757px;
}
#wrapper #main_image #main_text {
	font-family: Arial, Helvetica, sans-serif;
	color: #FFF;
	margin-left: 400px;
	padding-right: 15px;
	margin-top: 40px;
}
#wrapper #form_side {
	background-image: url(../images/form_back_2.jpg);
	float: left;
	width: 398px;
	margin-top: 10px;
	height: 582px;
	background-repeat: no-repeat;
}
#wrapper #form_side #the_form {
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	height: 510px;
	width: 383px;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 8px;
	background-color: #FFF;
}
#wrapper #form_side #the_form #button_style {
	background-color: #FFF;
	background-image: url(../images/logo.jpg);
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
h3 {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 14px;
	color: #333;
	text-align: center;
}
#wrapper #right_side {
	float: left;
	height: 580px;
	width: 350px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #333;
	background-repeat: no-repeat;
	margin-top: 10px;
	margin-left: 10px;
}



#wrapper #right_side #testimonial1, #testimonial2, #testimonial3 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#039;
	cursor:pointer;
	text-align:center;
}
#wrapper #right_side #testimonial_box1, #testimonial_box2, #testimonial_box3 {
	background-color: #FFF;
	display: none;
	height: auto;
	width: 350px;
	z-index: 5;
	left: 700px;
	top: 500px;
	position:absolute;
	border: thick solid #333;
	padding-bottom:10px;
	padding-left:5px;
	padding-right:5px;
	padding-top:2px;

}
#wrapper #right_side .testimonial_container {
	height: 330px;
	width: 330px;
	padding-top: 10px;
	padding-left: 10px;
}

#wrapper #right_side #testimonial_box1 #testimonial1_close, #testimonial2_close, #testimonial3_close {
	cursor:pointer;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size:10px;
	color: #666;
	display: block;
	height: 20px;
	width: 50px;
	margin-left:300px;
}

#wrapper #right_side .testimonial_photo {
	width: 160px;
float:left;
}
#wrapper #right_side .testimonial_text {
	width: 185px;
float:left;
}



#wrapper #form_side #the_form #submit_button {
	background-image: url(../images/learn_more_button.jpg);
	height: 37px;
	width: 162px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	background-color: #063;
	background-repeat: no-repeat;
	cursor:pointer;
}
#wrapper #phone_text{
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:16px;
	color:#FFF;
	margin-top:3px;
	margin-left:92px;
}

#wrapper #req_text{
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:16px;
	color:#FFF;
	margin-top:12px;
	margin-left:22px;
}

#wrapper #bottom {
	float: left;
	background-image: url(../images/bottom_background.jpg);
	height: 87px;
	width: 760px;
	margin-top: 15px;
}

#wrapper #bottom #bottom_text {
	float: left;
	height: 70px;
	width: 760px;
	margin-top: 10px;
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;
	text-align:center;
	font-size:12px;
}

#wrapper #form_side #the_form td input {
	font-size: 12px;
	color: #333;
}

a {
	color:#FFF;
	text-decoration:none;
	
}
a:visited {
	color:#FFF;
	text-decoration:none;
	
}
a:hover {
	color:#FFF;
	text-decoration:underline;
	
}

#wrapper #logo {
	float: left;
}

#disclaimer {
	font-size:9px;
}
