@charset "utf-8";
/* CSS Document */

        body {
           font-family:Arial;
           font-size:12px; 
         
           background-color:#e5e5e5;
        }
		
		#content {
			background:none;
			
		}
		
		.program-name
		{
		    font-family:Palatino Linotype, Times New Roman;	
		    font-size:18px;
		    font-weight:normal;
		    color:#f7941d;
		}
		
		.program-level-length
		{
		    font-family:Palatino Linotype, Times New Roman;	
		    font-size:13px;
		    font-weight:normal;
		    color:#e6e2c8;
		}
		
		
		.question-icon
		{
		    float:left; 
		    width:12px; 
		    height:8px;
		    margin-top:3px;
		    background-image:url(images/icon_q.png);
		    background-repeat:no-repeat;
		}
		
		.answer-icon
		{
		    float:left; 
		    width:12px; 
		    height:8px;
		    margin-top:3px;
		    background-image:url(images/icon_a.png);
		    background-repeat:no-repeat;
		}
		
		.qa-text
		{
		    float:left; 
		    width:270px;
		    margin-left:5px;
		    
		    font-family:Arial;
		    font-size:12px;
		    font-weight:bold;
		    color:#333333;
		}
		
		.qa-text-long
		{
		    float:left; 
		    width:304px;
		    margin-left:5px;
		    
		    font-family:Arial;
		    font-size:12px;
		    font-weight:bold;
		    color:#333333;
		}
		
		.qa-space
		{
		    height:15px;
		}
		
		.divider
		{
		    background-image: url(images/dotdivider.gif);
		    background-repeat:repeat-x;
		    height:1px;
		    margin-top:15px;
		    padding-bottom:15px;
		    margin-left:0px; 
		    margin-right:15px;
		}
		
		#divAdditionalInfoLink
		{
		    background-image:url(images/icon_question.png); 
		    background-repeat:no-repeat; 
		    background-position:0px 1px; 
		    height:15px; 
		    padding-left:18px; 
		    margin-left:5px;
		    margin-top:80px;
		}
		
		a:link
		{
		    font-family:Arial;
		    font-size:11px;
		    color:#333333;
		    font-weight:normal;
		    text-decoration:underline;
		}
		a:visited
		{
		    font-family:Arial;
		    font-size:11px;
		    color:#333333;
		    font-weight:normal;
		    text-decoration:underline;
		}
		a:hover
		{
		    font-family:Arial;
		    font-size:11px;
		    color:#333333;
		    font-weight:normal;
		    text-decoration:underline;
		}
		
		.small-text
		{
		    font-family:Arial;
		    font-size:11px;
		    color:#333333;
		    font-weight:normal;
		}
		
		.popup-close
		{
			cursor:pointer;
		}
        
