@charset "utf-8";
/* CSS Document */

#menu ul li #program_menu {
		z-index:500;
		position:absolute;
		width:300px;
		display:none;
		background-color:#19AE36;
		margin-top:5px;
		margin-left:5px;
		text-align:left;
		padding:11px;
		border-bottom:1px thin #FFF;
		border-left:1px thin #FFF;
		border-right:1px thin #FFF;
	}
	#menu ul li #program_menu .program_heading {
		color:#FF9;
		font-family:Arial, Helvetica, sans-serif;
		font-weight:bold;
		font-size:11px;
		float:left;
	}
	#menu ul li #program_menu a:link, #menu ul li #program_menu a:visited{
		display:block;
		float:left;
		width:290px;
		height:10px;
		font-size:11px;
		margin-left:-12px;
		padding-top: 12px;
		padding-right: 13px;
		padding-bottom: 0px;
		padding-left: 13px;
	}
		#menu ul li #program_menu a:hover{
		display:block;
		float:left;
		width:290px;
		height:10px;
		font-size:11px;

		background-image:none;
		text-decoration:underline;
		border:none;
		padding-top: 12px;
		padding-right: 13px;
		padding-bottom: 0px;
		background:none;
	}
	
	#menu ul li #program_menu .line {
		width:290px;
		height:1px;
		border-bottom:1px dotted #0F0;
		float:left;
		margin-top:15px;
	}